.table {
	table-layout: fixed;
	width: 100%;

	& td {
		padding: 15px;
		border-bottom: 1px solid $colorRed;
	}

	& .btn-products {
		margin: 0 10px;
		background-color: #fff;
		border: 0;
		color: $colorRed;
	}
}

@media (max-width: 767px) {
	.mobile-row .mobile-info {
		display: block;
		margin-bottom: 10px;
	}

	.mobile-row .mobile-buttons {
		display: flex;
		justify-content: flex-end;
	}
}