#container-cards-home{
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	top: 120px;
	width: 100%;
	font-weight: bold;
	color: #fff;

	& .card {
		width: 280px;
		height: 240px;
		margin: 50px 5px;
		padding: 0;
		border: 0;
		z-index: 3;

		& .card-body{
			height: 200px;
			margin: 0;
			background-color: $colorRed;
			border: 0;
			box-shadow: 0 0 4px #000000;
			font-size: 16px;
			z-index: 1;
		}

		& .card-img{
			object-fit: cover;
			box-shadow: 0 0 8px black inset;
			border-radius: 0;
		}
	}
}