@import "../../utilities/btn";

#navbar-header {
	margin: 10px;

	& .navbar-nav{
		align-items: center;
		justify-content: space-around;
		padding-right: 50px;
		font-weight: bold;
	
		& .nav-link-header {
			font-size: 22px;
			color:$colorRed;
		}
		
		.nav-link-header.active {
			border-bottom: 4px solid $colorBlue;
			color: $colorRed;
		}
	}
	
	& .filter{
		border: 0;
		border-bottom: 1px solid $colorRed;
	}

	& .btn-login-nav, .btn-login-nav:hover {
		@include btns($colorBlue, $colorRed, #fff);
	}

	& .btn-account {
		& .dropdown-toggle::after {
			display: none;
		}
		
		& .dropdown-toggle {
			background-color: #fff;
		}
		
		& .dropdown-menu {
			margin-top: 15px;
			padding: 10px;
			border: 2px solid $colorBlue;
			background-color: #cbf3f5c9;
		}

		& .li-btn-account {
			background: none;
			border: none;
			color: $colorRed;
			padding: 0;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;
		}
	}
}