@import "./navbar-products";
@import "../../utilities/btn";

.background-image {
	min-height: 150px;
	background-size: cover;
	background-position: center;
	padding: 30px;

	& .text-categories {
		font-size: 22px;
		color: #fff;
		text-shadow: 0 0 3px black;
	}
}

.container-filter {
	padding: 30px;

	& .btn-filter {
		@include btns($colorRed, $colorBlue, #fff)
	}

	& .btn-filter-item {
		@include btns(#fff, $colorBlue, #13819299)
	}
	
	& .btn-filter-item.active {
		background-color: $colorBlue;
	}
}

@import "./list-products";
@import "../../utilities/table";