#container-forgot-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 600px);
    margin: 50px auto;

    & p {
        align-self: start;
        color: $colorRed;
        font-weight: bold;
    }

    & .form-forgot-pass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
		background-color: #039ca133;
		border-radius: 10px;

		& input {
			padding: 16px;
			background-color: #039ca100;
			border: 0;
			border-bottom: 1px solid $colorRed;
			color: $colorBlue;
		}

		& input::placeholder {
			color: $colorBlue;
		}

		& .input-with-icon {
			padding-left: 60px;
			background-repeat: no-repeat;
			background-position: 5px center;
		}

		& .at {
			background-image: url("../img/icons/at-red.png");
		}

        & .pencil {
			background-image: url("../img/icons/pencil-red.png");
		}

        & .btn-form-forgot-pass {
            margin: 40px auto 0px auto;
			max-width: 250px;
			padding: 10px 20px;
			border: 1px solid $colorBlue;
			font-weight: bold;
			background-color: $colorBlue;
			color: #fff;
        }
    }
}