@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 24px;
}

h2 {
	font-size: 40px;
	font-weight: bold;
}

.blue-background {
	background-image: url("img/banner.png");
	background-size: contain;
	background-position: center;
	position: relative;
	width: 100%;
}

.bold {
	font-weight: bold;
}

a {
	color: #138192;
	text-decoration: none;
}

a:hover {
	color: #138192;
}

/* HEADER */
.banner-navbar {
	width: 100%;
	height: 180px;
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	width: 150px;
	height: 150px;
}

/* ABOUT US */
#about-us {
	color: #138192;
}

#about-us h2 {
	color: white;
	display: flex;
    justify-content: center;
    align-items: flex-end;
	width: 100%;
	height: 180px;
}

/* FAQs */
#faqs {
	width: 100%;
    max-width: 1200px;
    color: #DF4948;
	border: 2px solid #138192;
	border-radius: 4px;
	padding: 30px;
    position: relative;
	left: 48%;
	transform: translate(-50%, 0%);
}

#faqs h2 {
	background-color: #fff;
	padding: 0 20px;
	position: relative;
	top: -56px;
	display: inline-block;
}

.icon-faqs {
    width: 36px;
    height: 36px;
    margin: auto;
}